# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

helloworld/greeter_server/greeter_server
hlloworld/greeter_client/greeter_client
helloworld/loadtest_client/loadtest_client
helloworld/loadtest_server/loadtest_server